div.buttonTest input {
    background-image: url(img/background_gradient.jpg);
    cursor:pointer;
    width:200px;
    height:100px;
    border: none;
}
title {
    font-family: Verdana;
}
body {
    background: url(img/background_gradient.jpg);
    background-size: cover;
}
.html {
    background-image: url(img/background_gradient.jpg);
}
h1 {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;font-size:90px;
    text-align: center;
    padding-top: 50px;
}
h2 {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;font-size:20px;
    text-align: center;
    color: white;
}
h3 {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size:20px;
    text-align: center;
    color: white;
}
p {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    color: white;
}
.barcode{
    white-space:pre;
}

.img_logo {
    max-width:15%;
    height:auto;
    padding-bottom:35px;
    padding-left:5px;
}

.button {
    background-color: teal;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }
.button:hover {
    background-color: white;
    color: teal;
}

div{
    text-align: center;
}

.errorMessage{
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    text-align: center;
    background-color: white;
    color: red;
}

.uploadedMessage{
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    text-align: center;
    background-color: white;
    color: green;
}

a{
    color: white;
}